*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Basement Grotesque', sans-serif;
}
.page{
    background-color: #fff;
}
.logo{
    width: 9.391rem;
}
.login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form > input{
    justify-content: space-between;
    align-items: center;
    border-radius: 0.313rem;
    width: 15.125rem;
    height: 2.25rem;
    border: 2px solid black;
    padding-left: 5px;
    font-family: 'Argentum Sans', sans-serif;
}
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}
.titolo{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 3.125rem;
    color: #9F1609;
    justify-content: bottom;
    margin-bottom: 1.5rem;
}
.title::after{
    content: "";
    width: 100%;
    height: 0.169rem;
    background-color: black;
    opacity: 20%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem
    
}
.obb{
    color: black;
    font-size: 0.75rem;
    justify-content: bottom;
    margin-bottom: 1.69rem;
    text-decoration: underline;
    font-family: 'Argentum Sans', sans-serif;
}
.form > input::placeholder{
    font-size: 0.75rem;
    color: black;
    padding-left: 0.5rem;
}
.form>input:focus:not([type='submit']){
    outline: none;
    border: 2px solid #9F1609;
}
.form > input:focus{
    top: -85px;
}
.btn{
    width: 15.125rem;
    height: 2.25rem;
    border-radius: 15px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn:hover{
    transition: 0.23s;
    background-color: #9F1609;
}
.submit{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.privacy{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Argentum Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #9F1609;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.error span{
    color: #fff;
    font-size: 0.75rem;
    font-family: 'Argentum Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    background-color: #9F1609;
    width: 15.125rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;

}
.hidden{
    display: none;
}
.error-input{
    border: 2px solid #9F1609 !important;
}